html {
    scroll-behavior: smooth;
}
#menu{
   background-color: lightgray;
}
#productList{
    border: 2px solid black;
    border-radius: 2px;
}
.product{
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
    width: 100%;

}
.prodImg{
    height: 200px;
    width: 90%;
}

.carousel-item{
    heigth: 500px;
    width: 100%;
}
#secondslide{
    color: black;
}
#category{
    text-align: center;
}

.container{
    width: 90%;!important;
}
#scrt{
    width: 90%;

    margin-top: 70px;
    height: 500px;
}
#navbarSupportedContent{
    width: 100%;
}
.descr{
    font-size: 10pt;
}
#name{
    font-size: 11pt;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.giveMeDescr {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: 25px;        /* fallback */
    max-height: 77px;       /* fallback */
    font-size: 12px;
}
.right {
    position: absolute;
    right: 0px;
    width: 300px;
    padding: 10px;
}

.center {
    margin: auto;
    width: 50%;

    padding: 10px;
}

.cartDescription{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* number of lines to show */
    line-height: 25px;        /* fallback */
    max-height: 77px;       /* fallback */
    font-size: 12px;
}


/* Loader */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #000000; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

    margin-left: 40%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}